@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
  }
  
  input{
    font-family: "Poppins", serif;
  }
  #mainOne {
    min-height: 65vh;
    background-color: white;
  }
  
  #headerOne,
  #divLogo,
  #navUl {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 42px;
  }
  
  #headlineLogo {
    font-family: "Abril Fatface", cursive;
    font-size: 25px;
    color: #8aff75;
    margin-left: 25px;
  }
  
  #paragLogo {
    font-family: "Pattaya", sans-serif;
    font-size: 18px;
    color: #4f4d4b;
    margin-left: 18px;
  }
  
  #ulNav {
    margin-right: 25px;
  }
  
  .liNav {
    display: inline;
  }
  
  .aNav {
    color: #4f4d4b;
    text-decoration: none;
   font-family: "Poppins", serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 18px;
  }
  
  .aNav:hover {
    color: #ff758a;
  }
  
  #footerOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: white;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
   font-family: "Poppins", serif;
    color: #4f4d4b;
  }
  
  #spanFooter {
    font-family: "Abril Fatface", cursive;
    color: #8aff75;
    font-size: 12px;
  }
  
  #portfolioLink {
    font-size: 11px;
    text-decoration: none;
   font-family: "Poppins", serif;
    color: #4f4d4b;
  }
  
  #portfolioLink:hover {
    color: #ff758a;
  }
  
  #divLogIn,
  #divPersonalInfo,
  #divDailyRequirement,
  #divQuestion,
  #divFoodSelection,
  #divNutritionTracker {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  background-color: #111f4c;
  color: #4f4d4b;
  text-align: center;
 font-family: "Poppins", serif;
  font-size: 12px;
  border-radius: 25px;
  width: 100%;
  margin-top: 50px;
  padding: 40px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  }
  div#divLogIn h2 {
  color: #fff;
  font-size: 25px;
  }
  #divPersonalInfo,
  #divDailyRequirement,
  #divQuestion,
  #container,
  #divFoodSelection,
  #divNutritionTracker {
    display: none;
  }
  
  #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  
  #divFoodSelection {
    width: 100%;
  }
  

form#formDailyFood .minSpan {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: 0 0 20px;
  text-align: left;
  font-size: 14px; 
}

form#formDailyFood .minSpan select {
  margin: 0;
  width: 100%;
}

  #formLogIn,
  #formPersonalInfo,
  #formDailyFood,
  #formMyPlate {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
   font-family: "Poppins", serif;
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
  }
  
  #formMyPlate {
    margin-top: 20px;
  }
  
  .inputs,
  .inputsDF,
  .inputsMyPlate {
    margin: 8px;
    color: #4f4d4b;
    text-align: center;
    font-size: 13px;
    padding: 15px 5px;
    width: 216px;
    border: none;
    border-radius: 5px;
  }
  
  .inputsDF {
    margin: 15px;
  }
  
  .inputsMyPlate {
    width: 50px;
    margin: 0px;
  }
  
  #selectPregnantLactating,
  #pregnantLactating {
    display: none;
  }
  
  .btns {
    background-color: #c32031;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Poppins", serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 22px;
    padding: 10px 6px 10px 6px;
    border: none;
    border-radius: 8px;
    min-width: 105px;
    display: inline-block;
    font-weight: 400;
}
  
  .btns:hover {
    background-color: #e06374;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  }
  
  #btnTracking {
    margin-top: 5px;
  }
  
  #btnCheckMyDay,
  #btnNext,
  #btnAddMore {
    margin-bottom: 15px;
  }
  
  #messageFillIn,
  #messageFillIn2,
  #messageFillIn3 {
    font-style: italic;
  }
  
  #tableDailyRequirement,
  #tableMyPlate,
  #tableNutritionTracker,
  #tablePersonalInfo {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  
  #tableMyPlate {
    width: 100%;
    table-layout: fixed;
    display: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

#tableMyPlate .inputsMyPlate {
  width: 100%;
  margin: 0 0 10px;
}

  #tableNutritionTracker {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
  }
  
  .tableHeaders,
  .tableHeadersNT {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0px 10px 0px;
  }
  
  .tableHeaders {
    text-align: center;
    column-span: 2;
  }
  
  #tableHeaderArticals {
    width: 40%;
  }
  
  #tableHeaderQuantity {
    width: 30%;
  }
  
  #tableHeaderDelete {
    width: 20%;
  }
  
  .btnDelete {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
   font-family: "Poppins", serif;
    font-size: 16px;
  }
  
  .btnDelete:hover {
    color: #ff758a;
  }
  
  .cellPI {
    text-align: right;
    width: 15%;
  }
  
  .cellWidth {
    width: 55%;
    padding: 0px;
  }
  
  .cellsProgressBar {
    background-color: white;
    padding: 0px;
    position: relative;
  }
  
  .divProgressBar {
    background-color: white;
    color: #4f4d4b;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
  }
  
  .pinkHeadline {
    color: #ff758a;
  }
  main#mainOne h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 40px;
  }
  
  main#mainOne p {
  color: #fff;
  font-size: 14px;
  }
  
  main#mainOne h3 {
  color: #fff;
  font-size: 16px;
  margin-top: 8px;
  }
  
  #mainOne tr td {
    color: #fff;
    font-size: 14px;
    padding: 0 5px;
    }
  
  
    #formLogIn label, #formLogIn input {
      display: block;
      width: 100%;
      margin: 0;
  }
  
  #formLogIn label {
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
    font-weight: 400;
    padding: 0 10px;
}

#formLogIn input{
  border-radius: 40px;
}
#formLogIn input::placeholder{
  font-size: 16px;
} 
  
#formPersonalInfo input, #formPersonalInfo select {
  width: 90%;
  font-size: 16px;
} 
#divDailyRequirement table, #divDailyRequirement table td, #divDailyRequirement table th {
  border-collapse: collapse;
  padding: 5px 10px;
  border: 1px solid #fff;
}

#formMyPlate p small {
  background: #c32031;
  font-weight: 400;
  padding: 10px;
  margin: 0 0 10px;
  display: inline-block;
}

  @media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
  
    #headlineLogo {
      font-size: 18px;
      margin-left: 15px;
    }
  
    #paragLogo {
      display: none;
    }
  
    #ulNav {
      margin-right: 10px;
    }
  
    .aNav {
      font-size: 10px;
      margin-left: 8px;
    }
  
    #divLogIn,
    #divPersonalInfo,
    #divDailyRequirement,
    #divQuestion,
    #divFoodSelection,
    #divNutritionTracker {
      width: 85%;
      padding: 20px;
    }
  
    #formLogIn,
    #formPersonalInfo,
    #formDailyFood,
    #formMyPlate {
      font-size: 11px;
    }
  



    #tableDailyRequirement,
    #tableMyPlate,
    #tableNutritionTracker,
    #tablePersonalInfo {
      width: 100%;
    }
  
    .inputs {
      font-size: 10px;
      width: 165px;
    }
  
    .inputsDF {
      width: 140px;
    }
  
    .inputsMyPlate {
      width: 40px;
    }
  
    #footerOne {
      font-size: 9px;
      flex-direction: column;
    }
  
    #portfolioLink {
      font-size: 9px;
    }
  
    #container {
      flex-direction: column;
    }
  
    .minSpan {
      display: block;
      text-align: right;
      margin-right: 20px;
    }
  }
  
  